<h1>Ideas</h1>
<table border="1">
  <thead>
    <th>name</th>
    <th>description</th>
  </thead>
    {{#each @model as |idea|}}
      <tbody>
        <td>{{idea.name}}</td>
        <td>{{idea.description}}</td>
      </tbody>
    {{/each}}
</table>

<LinkTo @route="new" class="button">New</LinkTo>